#

In [1]:
import pandas as pd

In [ ]:
!pip install torch

In [2]:
data = pd.read_csv('09.1 lsd_math_score_data.csv')

In [3]:
data

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score
0                      5     1.17                78.93
1                     15     2.97                58.20
2                     30     3.26                67.47
3                     60     4.69                37.47
4                    120     5.83                45.65
5                    240     6.00                32.92
6                    480     6.41                29.97

In [24]:
data["High Score"] = 100
data

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score  High Score
0                      5     1.17                78.93         100
1                     15     2.97                58.20         100
2                     30     3.26                67.47         100
3                     60     4.69                37.47         100
4                    120     5.83                45.65         100
5                    240     6.00                32.92         100
6                    480     6.41                29.97         100

In [25]:
data["High Score"] = data["Avg_Math_Test_Score"] + data["High Score"]
data

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score  High Score
0                      5     1.17                78.93      178.93
1                     15     2.97                58.20      158.20
2                     30     3.26                67.47      167.47
3                     60     4.69                37.47      137.47
4                    120     5.83                45.65      145.65
5                    240     6.00                32.92      132.92
6                    480     6.41                29.97      129.97

In [26]:
data["High Score"] = data["High Score"] ** 2
data["High Score"]

0    32015.9449
1    25027.2400
2    28046.2009
3    18898.0009
4    21213.9225
5    17667.7264
6    16892.2009
Name: High Score, dtype: float64

In [28]:
columnlist = [data["LSD_ppm"], data["Avg_Math_Test_Score"]]
type(columnlist)

list

In [34]:
df = data[["LSD_ppm", "Avg_Math_Test_Score"]]
df

   LSD_ppm  Avg_Math_Test_Score
0     1.17                78.93
1     2.97                58.20
2     3.26                67.47
3     4.69                37.47
4     5.83                45.65
5     6.00                32.92
6     6.41                29.97

In [37]:
X = data[["LSD_ppm"]]
X
type(X)

pandas.core.frame.DataFrame

In [38]:
del data["High Score"]
data

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score
0                      5     1.17                78.93
1                     15     2.97                58.20
2                     30     3.26                67.47
3                     60     4.69                37.47
4                    120     5.83                45.65
5                    240     6.00                32.92
6                    480     6.41                29.97

In [40]:
import math
print(math.pi)
math.e

3.141592653589793

2.718281828459045